In [9]:
a = [[1,2,3],[4,5,6]]
print(a)
print(a[1][1]);
a[1][1] = 100;
print(a)

[[1, 2, 3], [4, 5, 6]]
5
[[1, 2, 3], [4, 100, 6]]

In [5]:
len(a)

2

In [6]:
len(a[0])

3

In [8]:
type(a)

list

In [15]:
b = range(0,11)
print(b)
print(b[0])

range(0, 11)
0

TypeError: 'range' object does not support item assignment

In [20]:
x = list(range(100))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [28]:
y = (1,2,5,3);
x = [1,2,5,3];
print(x)
print(y)

[1, 2, 5, 3]
(1, 2, 5, 3)

In [36]:
print(type(x))
print(type(y))
for i in x :
    print(i)
for i in y :
    print(i)

<class 'list'>
<class 'tuple'>
1
2
5
3
1
2
5
3

In [39]:
num = [2,4,6,8,10];
for i in range(len(num)):
    print(i,":",num[i])

0 : 2
1 : 4
2 : 6
3 : 8
4 : 10

In [44]:
num = [2,4,6,8,10];
for i,n in enumerate(num):
    print(i,n)
enumerate(num)

0 2
1 4
2 6
3 8
4 10

In [45]:
a = [1,2]
b = [3,4]
print(a,b,a+b)

[1, 2] [3, 4] [1, 2, 3, 4]

In [46]:
a = (1,2)
b = (3,4)
print(a,b,a+b)

(1, 2) (3, 4) (1, 2, 3, 4)

In [48]:
a = range(1,2)
b = range(3,2)
print(a,b)

range(1, 2) range(3, 2)

In [49]:
import numpy as np

In [56]:
x = np.array([1,2,3])
y = np.array((4,5,6))
z = [1,2,3]
print(x,y,z)
print(type(x),type(y),type(z))
print(x+y,x+z,y+z)
print(z+y)

[1 2 3] [4 5 6] [1, 2, 3]
<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'list'>
[5 7 9] [2 4 6] [5 7 9]
[5 7 9]

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'list'>